@page "/listarusuarios"

<!--Caso de uso para Usuarios-->
@inject CasoDeUsoListarUsuarios listarUsuarios
@inject CasoDeUsoEliminarUsuario eliminar

<!--Caso de uso Sesion-->
@inject CasoDeUsoUsuarioActivo usuarioActivo

<!--Uso de la pagina-->
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@if(!_error){
    <h3>Lista de Usuarios</h3>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in _lista)
                {
                    <tr>
                        <td>@usuario.Id</td>
                        <td>@usuario.Nombre</td>
                        <td>
                            <button @onclick="() => _VerUsuario(usuario.Id)" class="btn btn-primary">Examinar</button>
                            <button @onclick="()=>_ConfirmarUsuario(usuario.Id)" class="btn btn-danger" >Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else{
    <ComponentError Text="@_stMensaje"  ErrorSesion="_error" />
}

<ConfirmarUsuario @ref="_confirmar" eventCallback="_EliminarUsuario" />

@code {

#region Variables de usuario
    private List<Usuario> _lista = new List<Usuario>();
    private int _id = 0;

#endregion Variables de usuario

#region Variables de error y mensaje
    private string _stMensaje = "";
    private bool _error = false;
    private ConfirmarUsuario _confirmar = null!;

#endregion Variables de error y mensaje

#region Metodos de pagina
    protected override void OnInitialized()
    {   
        try{
            usuarioActivo.Ejecutar(out _error);
            _lista = listarUsuarios.Ejecutar();
        }
        catch (Exception e){ //catch para los errores en el caso de suo
            _stMensaje = $"Ocurrio un error inesperado. {e.Message}";
            _error = true; //Muestra en la pagina el error
        }
    }

    private void _VerUsuario(int id){
        navigationManager.NavigateTo($"usuario/{id}");
    }
#endregion Metodos de pagina

#region Metodos de mensaje
    private void _ConfirmarUsuario(int idUsuario){
        _id = idUsuario;
        _confirmar.MostrarConfirmar();
    }

#endregion Metodos de mensaje
    
#region Metodos de usuario
    private void _EliminarUsuario(){
        eliminar.Ejecutar(_id);
        _lista = listarUsuarios.Ejecutar();
    }

#endregion Metodos de usuario
}
