@page "/listarusuarios"

<!--Caso de uso para Usuarios-->
@inject CasoDeUsoListarUsuarios listarUsuarios
@inject CasoDeUsoSesionUsuario sesion

<!--Uso de la pagina-->
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@if(!_error){
    <h3>Lista de Usuarios</h3>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in _lista)
                {
                    <tr>
                        <td>@usuario.Id</td>
                        <td>@usuario.Nombre</td>
                        <td>
                            <button @onclick="() => _VerUsuario(usuario.Id)" class="btn btn-primary">Examinar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else{
    <ComponentError Text="@_stMensaje"  ErrorSesion="_error" />
}

@code {
    private List<Usuario> _lista = new List<Usuario>();
    private string _stMensaje = "";
    private bool _error = false;
    protected override void OnInitialized()
    {   
        try{
            sesion.UsuarioActivo(out _error);
            _lista = listarUsuarios.Ejecutar();
        }
        catch (Exception e){ //catch para los errores en el caso de suo
            _stMensaje = $"Ocurrio un error inesperado. {e.Message}";
            _error = true; //Muestra en la pagina el error
        }
    }

    private void _VerUsuario(int id)
    {
        navigationManager.NavigateTo($"usuario/{id}");
    }
}
