@page "/home"

<PageTitle>Home</PageTitle>

    <h1>Bienvenido al Sistem de Gestion de Expedientes</h1>

    <p>Proyecto para el Seminario de Lenguaje, opcion .NET. <br>
    Integrantes: Barrionuevo Federico, Brecevich Juan Ignacion, Potulnisky Priscila.</p>
