@page "/"

<!--Caso de uso para Usuarios-->
@inject CasoDeUsoIniciarSesion iniciarSesion

<!--Uso de la pagina-->
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@layout LoginLayout

<div class="contenedor">
    <div class="contenido">
        <h3>Bienvenido al sistema</h3>
        <h4>Inicie sesion</h4>

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input id="nombre" placeholder="Ingrese su nombre" @bind="_usuario.Nombre" class="form-control"><br>
        </div>
        
        <div class="form-group">
            <label for="contrasena">Contraseña</label>
            <input id="contrasena" type="password" placeholder="Ingrese su contraseña" @bind="_usuario.Contraseña" class="form-control"><br>
        </div>

        <button @onclick="_IniciarSesion" class="btn btn-primary">Iniciar sesion</button>
        <p>¿No tiene una cuenta? Regístrese <u><a href="/registro" class="registro-link">aqui</a></u>!</p>
    </div>
</div>

<Mensaje @ref="_mensaje" Text="@_stMensaje" eventCallback="_Limpiar" />

@code {
    private Usuario _usuario = new Usuario();

    private string _stMensaje = "";
    private Mensaje _mensaje = null!;

    private void _IniciarSesion(){
        try{
            iniciarSesion.Ejecutar(_usuario.Nombre, _usuario.Contraseña);
            navigationManager.NavigateTo("/home");
        }
        catch(Exception e){
            _stMensaje = $"Ocurrio un error inesperado. {e.Message}";
            _mensaje.MostrarMensaje();
        }
    }

    private void _Limpiar(){
        _usuario = new Usuario();
    }
}
