@page "/modificarexpediente/{Id:int?}"

<!-- Caso de uso para expedientes -->
@inject CasoDeUsoExpedienteConsultaPorId consulta // Consultar expediente
@inject CasoDeUsoExpedienteModificacion modificar // Modificar un expediente

<!-- Caso de uso para Sesión -->
@inject CasoDeUsoUsuarioActivo usuarioActivo //Pasa verificar que el usuario inicio sesion
@inject CasoDeUsoObtenerSesionActual sesionActual //Para asignar el ID se la sesion actual al expedeinte modificado

<!-- Uso de la página -->
@inject NavigationManager navigationManager // Navegar entre páginas
@rendermode InteractiveServer // Para que se actualice la página en caso de errores

@if (!_error) {
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="mb-4">Modificar Expediente</h3>

                <!-- Ingreso de la carátula -->
                <div class="form-group" style="margin-bottom: 10px;">
                    <label>Ingrese la nueva carátula del Expediente:</label>
                    <input placeholder="Carátula modificada" @bind="_expediente.Caratula" class="form-control">
                </div>

                <!-- Selector del estado del expediente -->
                <div class="form-group" style="margin-bottom: 10px;">
                    <label>Seleccione el nuevo estado del Expediente:</label>
                    <select @bind="_expediente.EstadoExpediente" class="form-control">
                        <option value="RecienIniciado">Recien Iniciado</option>
                        <option value="ParaResolver">Para Resolver</option>
                        <option value="ConResolucion">Con Resolución</option>
                        <option value="EnNotificacion">En Notificación</option>
                        <option value="Finalizado">Finalizado</option>
                    </select>
                </div>

                <div>
                    <button @onclick="()=>_Mensaje(true)" class="btn btn-primary">Aceptar</button> <!--Llama al caso de uso alta-->
                    <button @onclick="()=>_Mensaje(false)" class="btn btn-secondary">Volver</button> <!--Volver al menu con todos los expedientes-->
                </div>
            </div>
        </div>
    </div>
}
else {
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <ComponentError Text="@_stMensaje" ErrorSesion="@_error" />
            </div>
        </div>
    </div>
}

<Mensaje @ref="_mensaje" Text="@_stMensaje" eventCallback="_VolverMensaje" />

@code {

#region Variables Expediente

    // Expediente
    [Parameter] public int? Id { get; set; }
    private Expediente _expediente = new Expediente();

#endregion Variables Expediente

#region Variables de Errores y Mensajes

    // Mensaje
    private bool _error = false;
    private string _stMensaje = "";
    private Mensaje _mensaje = null!;

#endregion Variables de Errores y Mensajes

#region Métodos de página

    protected override void OnParametersSet() {
        try {
            if (Id != null) {
                usuarioActivo.Ejecutar(out _error);
                _expediente = consulta.Ejecutar(Id.Value);
                _stMensaje = "¿Está seguro que desea salir? Los datos que haya ingresado se perderán.";
            } 
            else {
                _stMensaje = $"Ocurrió un error inesperado. Se está intentando acceder a un expediente inexistente.";
                _error = true;
            }
        } 
        catch (Exception e) { //catch para los errores en el caso de uso
            _stMensaje = $"Ocurrió un error inesperado. {e.Message}";
            _error = true; //Muestra en la pagina el error
        }
    }

#endregion Métodos de página

#region Métodos de Mensajes

    private void _Mensaje(bool modificar) {
        if (!modificar) {
            _stMensaje = "¿Está seguro que desea salir? Los datos que haya ingresado se perderán.";
            _opcion = true;
        } 
        else{
            _stMensaje = "Al aceptar los cambios y una vez modificado el expediente, no se puede recuperar el estado anterior!";
            _opcion = false;
        }
        _mensaje.MostrarMensaje();
    }

    private bool _opcion = false;

    private void _VolverMensaje() {
        if (_opcion) {
            navigationManager.NavigateTo($"/expediente/{Id}");
        } 
        else{
            try{
                _expediente.IdUsuario = sesionActual.Ejecutar().Id;
                modificar.Ejecutar(_expediente);
                navigationManager.NavigateTo($"/expediente/{Id}");
            } 
            catch (Exception e) { //catch para los errores en el caso de uso
                _stMensaje = $"Ocurrió un error inesperado. {e.Message}";
                _error = true; //Muestra en la pagina el error
            }
        }
    }

#endregion Métodos de Mensajes
}
