@page "/"

<!--Caso de uso para Usuarios-->
@inject CasoDeUsoIniciarSesion iniciarSesion
@inject ServicioSesionUsuario usuarioActual

<!--Uso de la pagina-->
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@layout LoginLayout

<div class="contenedor">
    <div class="contenido">
            <h3>Bienvenido al sistema</h3>
            <h4>Inicie sesion</h4>

            <div style="margin-bottom: 10px;" >
                Nombre<br>
                <input placeholder="Ingrese su nombre" @bind="_usuario.Nombre" ><br>
            </div>
            
            <div style="margin-bottom: 10px;" >
                Contraseña<br>
                <input placeholder="Ingrese su contraseña" @bind="_usuario.Contraseña" ><br>
            </div>

            <button @onclick="_IniciarSesion" style="margin-bottom: 10px;" class="btn btn-primary" >Iniciar sesion</button>
            <p>¿No tiene una cuenta? Registrese <u><a href="/registro" >aqui</a></u>!</p>
    </div>
</div>

<Mensaje @ref="_mensaje" Text="@_stMensaje" eventCallback="_Limpiar" />

@code {
    private Usuario _usuario = new Usuario();

    private string _stMensaje = "";
    private Mensaje _mensaje = null!;

    private void _IniciarSesion(){
        try{
            iniciarSesion.Ejecutar(_usuario.Nombre, _usuario.Contraseña);
            usuarioActual.UsuarioActual = _usuario;
            navigationManager.NavigateTo("/home");
        }
        catch(Exception e){
            _stMensaje = $"Ocurrio un error inesperado. {e.Message}";
            _mensaje.MostrarMensaje();
        }
    }

    private void _Limpiar(){
        _usuario = new Usuario();
    }

}
