@page "/registro"

<!--Caso de uso para Usuarios-->
@inject CasoDeUsoRegistrarUsuario registrarSesion
@inject ServicioSesionUsuario usuarioActual // Guarda la sesion actual del usuario

<!--Uso de la pagina-->
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@layout LoginLayout

<div class="contenedor">
    <div class="contenido">
            <h3>Bienvenido al sistema</h3>
            <h4>Registrese</h4>

            <div style="margin-bottom: 10px;" >
                Nombre<br>
                <input placeholder="Ingrese su nombre" @bind="_usuario.Nombre" >
            </div>

            <div style="margin-bottom: 10px;" >
                Apellido<br>
                <input placeholder="Ingrese su apellido" @bind="_usuario.Apellido" >
            </div>

            <div style="margin-bottom: 10px;" >
                Correo<br>
                <input placeholder="Ingrese su correo electronico" @bind="_usuario.Correo">
            </div>

            <div style="margin-bottom: 10px;" >
                Contraseña<br>
                <input placeholder="Ingrese su contraseña" @bind="_usuario.Contraseña" ><br>
            </div>
            
            <button @onclick="_RegistrarSesion" style="margin-bottom: 10px;" class="btn btn-primary" >Registrase</button>
            <p>¿Ya tiene una cuenta? <u><a href="/">Inicie sesion.</a></u></p>
            
    </div>
</div>

<Mensaje @ref="_mensaje" Text="@_stMensaje" eventCallback="_Limpiar" />

@code{
    private Usuario _usuario = new Usuario();

    private string _stMensaje = "";
    private Mensaje _mensaje = null!;

    private void _RegistrarSesion(){
        try{
            string _contraseña = _usuario.Contraseña;
            registrarSesion.Ejecutar(_usuario, _contraseña);
            usuarioActual.UsuarioActual = _usuario;
            navigationManager.NavigateTo("/home");
        }
        catch(Exception e){
            _stMensaje = $"Ocurrio un error inesperado. {e.Message}";
            _mensaje.MostrarMensaje();
        }
    }

    private void _Limpiar(){
        _usuario = new Usuario();
    } 
}