
<!--Caso de uso para verificacion-->
@inject IServicioAutorizacion autorizacion

<!--Caso de uso de sesion-->
@inject CasoDeUsoUsuarioActivo usuarioActivo
@inject CasoDeUsoObtenerSesionActual sesionActual

@if(!_error){
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">S.G.E.</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/home" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <!--class="bi bi-plus-square-fill-nav-menu"-->

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/listarexpedientes">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listar Expedientes
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/listartramites">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listar Tramites
                </NavLink>
            </div>

            @if(_altaExpedientes){
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@_nuevoExpediente">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Agregar Expediente
                    </NavLink>
                </div>
            }
            

            @if(_altaTramites){
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@_nuevoTramite">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Agregar Tramite
                    </NavLink>
                </div>
            }
            
            @if(_verUsuarios){
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/listarusuarios">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listar Usuarios
                    </NavLink>
                </div>
            }

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@_usuarioId">
                    <span  aria-hidden="true"></span> Ajustes <!--Buscar class gear-->
                </NavLink>
            </div>

        </nav>
    </div>
}

@code{

#region URL
    private string _nuevoExpediente = $"/expediente/{null}";
    private string _nuevoTramite = $"/tramite/{null}{null}";
    private string _usuarioId = "";
#endregion URL

#region Variables de usuario

    private bool _altaTramites = true;
    private bool _altaExpedientes = true;
    private bool _verUsuarios = true;
#endregion Variables de usuario

#region Variables de Errores
    private bool _error = false;

#endregion Variables de Errores

#region Metodos de pagin
    protected override void OnInitialized(){
        try{
            bool ok;
            usuarioActivo.Ejecutar(out ok);
            if(!autorizacion.PoseePermisoAdministrador(PermisoAdministrador.ListarUsuario)){
                _verUsuarios = false;
            }
            if(!autorizacion.PoseeElPermiso(Permiso.ExpedienteAlta)){
                _altaExpedientes = false;
            }
            if(!autorizacion.PoseeElPermiso(Permiso.TramiteAlta)){
                _altaTramites = false;
            }
            _usuarioId = $"/usuario/{sesionActual.Ejecutar().Id}";
        }
        catch{ //catch para los errores en el caso de suo
            _error = true; //Muestra en la pagina el error
        }
    }

#endregion Metodos de pagin

}