@namespace SGE.UI.Components

@if(_visible){
    <div class="contenedor">
        <div class="contenido" >
            <h3>@Text</h3>
            <button @onclick="()=>Cerrar(true)" class="btn btn-primary" >Aceptar</button>
            <button @onclick="()=>Cerrar(false)" class="btn btn-secondary" >Cancelar</button>
        </div>
    </div>
    
}

@code {
    [Parameter] public string Text {get; set;} = "";
    [Parameter] public EventCallback eventCallback {get; set;}
    private bool _visible = false;
    public void MostrarMensaje(){
        _visible = true;
    }
    private void Cerrar(bool ok){
        _visible = false;
        if(ok){
            eventCallback.InvokeAsync();
        }
    }
}
