@inject NavigationManager navigationManager

<h3>@Text</h3>
<button @onclick="_Cerrar" class="btn btn-secondary" >Volver</button>

@code{
    [Parameter] public string Text {get; set;} = "";

    [Parameter] public bool ErrorSesion {get; set;} = false;

    private void _Cerrar(){
        if(!ErrorSesion){
            navigationManager.NavigateTo($"/listarexpedientes");
        }
        else{
            navigationManager.NavigateTo("/");
        }
    }
}