@inject NavigationManager navigationManager

<h3>@Text</h3>
<button @onclick="_Cerrar" class="btn btn-secondary" >Volver</button>

@code{
    [Parameter] public string Text {get; set;} = "";

    private void _Cerrar(){
        navigationManager.NavigateTo($"/listarexpedientes");
    }
}